@import url(../../rotation/rotation.css);

.header__square-pic {
    height: 568px;
    width: 568px;
    background-color: rgb(47 128 237);
    top: 64px;
    right: 0;
    position: absolute;
    z-index: -2;
}