.kaufman {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(31, 31, 31);
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0px;
    z-index: 1;
    position: relative;
}