.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px; 
  /* выше установили ограничения для секции */
  display: flex;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */

.header__logo {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__head-title {
  display: flex;
  width: 730px;
  margin-left: 56px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  flex-direction: column;
  justify-content: center;
}

.header__subtitle {
  position: absolute;
  width: 388px;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: 300;
  
}

.header__image-main {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 765px;
  height: 608px;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: blue;
  top: 64px;
  right: 0;
  position: absolute;
  z-index: -1;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
}

.description__two-columns {
  display: flex;  
  justify-content: space-between;
  width: 80%;
  margin: 0;
}

.description__brief {
  width: 175px;
}

.description__subtitle {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: blue;
  margin: 0;
}

.description__main-text {
  width: 80%;
  min-width: 784px;
}

.description__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}

.description__accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
  display: inline-block;
  margin: 30px 0;
}

.digits {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.digits__title {
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.digits__subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin: 0;  
}

.digits__table {
  display: flex;
  width: 1100px;
  flex-wrap: wrap;  
  margin: 60px auto 100px;
  gap: 33px;
}

.digits__cell {
  width: 250px;
}

.digits__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 20px;
}

.digits__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 20px;
}

.feynman {
  display: flex;
  align-items: center;
  justify-content: center;
}

.feynman__title {
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  width: 648px;
  margin: 0;
}



/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
